[tool.poetry]
name = "youtube-bz"
version = "0.3.3"
description = "YoutubeBrainz allow you to find and download Youtube Videos associated to an Album on MusicBrainz."
authors = ["Flowrey <flowrey at laposte.net>"]
license = "GPL-3.0"
readme = "README.md"
packages = [{include = "youtube_bz"}]

[tool.poetry.dependencies]
python = "^3.11"
pytube = "^15.0.0"
aiohttp = "^3.8.4"
pydantic = "^2.0.3"


[tool.poetry.group.dev.dependencies]
pytest = "^7.4.0"
pytest-asyncio = "^0.21.1"
sphinx = "^7.0.1"
coverage = "^7.2.7"
black = "^23.7.0"
aioresponses = "^0.7.4"
pytest-cov = "^4.1.0"
vcrpy = "^5.0.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.pyright]
stubPath = "typings"
venvPath = ".venv"
typeCheckingMode = "strict"
exclude = [".venv", "typings"]